{% load static %}

<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top">
	<div class="container">
		<section class="footer-bottom border-top row">
			<div class="col-md-2">
				<p class="text-muted"> &copy Royal Tech </p>
			</div>
			<div class="col-md-8 text-md-center">
				<span  class="px-2">neron_sport@gmail.com</span>
				|
				<span  class="px-2">+54 11 6731-4606</span>
				|
				<span  class="px-2">Instituto Nuestra Señora de La Paz</span>
			</div>
			<div class="col-md-2 text-md-right text-muted">
				<i class="fab fa-lg fa-cc-visa"></i>
				<i class="fab fa-lg fa-cc-paypal"></i>
				<i class="fab fa-lg fa-cc-mastercard"></i>
			</div>
		</section>
	</div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->